.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#maincontent {
    display: grid;
    flex: 1;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
}

#main {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

#nav {
    display: flex;
    flex: 80%;
    flex-wrap: wrap;
    justify-content: center;
}