---
layout: layout.njk
eleventyNavigation:
    key: About us
    order: 7
---

<section id="main">
    <article>
        <h1>Our mission</h1>
        <h2>To teach about Honey this one-ingredient recipe made by bees, flowers and mother nature herself.</h2>
    </article>
</section>