---
layout: layout.njk
eleventyNavigation:
    key: About Honey
    order: 2
---

<section id="maincontent">
    <section id="main">
        <article>
            <h3>About honey</h3>
            <p><video autoplay loop src="/media/honey.mp4">Your browser does not support the video tag.</video> Honey is a sweet, viscous food substance made by
                honey
                bees
                and some other bees. Bees produce honey from the sugary secretions of plants (floral nectar) or from
                secretions
                of
                other insects (such as honeydew), by regurgitation, enzymatic activity, and water evaporation. Honey
                bees store
                honey in wax structures called honeycombs, whereas stingless bees store honey in pots made of wax and
                resin. The
                variety of honey produced by honey bees (the genus Apis) is the best-known, due to its worldwide
                commercial
                production and human consumption. Honey is collected from wild bee colonies, or from hives of
                domesticated bees,
                a
                practice known as beekeeping or apiculture (meliponiculture in the case of stingless bees).</p>
            <p>Honey gets its sweetness from the monosaccharides fructose and glucose, and has about the same relative
                sweetness
                as sucrose (table sugar). Fifteen millilitres of honey provides around 190 kilojoules (46 kilocalories)
                of food
                energy. It has attractive chemical properties for baking and a distinctive flavor when used as a
                sweetener. Most
                microorganisms do not grow in honey, so sealed honey does not spoil, even after thousands of years.</p>
            <p>Honey use and production have a long and varied history as an ancient activity. Several cave paintings in
                Cuevas
                de la Araña in Spain depict humans foraging for honey at least 8,000 years ago. Large-scale
                meliponiculture has
                been practiced by the Mayans since pre-Columbian times.</p>
        </article>
    </section>
    {% include "sidebar.njk" %}
</section>