---
layout: layout.njk
eleventyNavigation:
    key: Bee products
    order: 6
---

<section id="maincontent">
    <section id="main">
        <article>
            <h3>Honey</h3>
            <p>Honey is the complex substance made when bees ingest nectar, process it, and store the substance into
                honey combs. All living species of Apis have had their honey gathered by indigenous peoples for
                consumption. A. mellifera and A. cerana are the only species that have had their honey harvested for
                commercial purposes.</p>
            <a href="/about-honey">Learn more about Honey</a>
        </article>
        <article>
            <h3>Beeswax</h3>
            <p>Worker bees of a certain age secrete beeswax from a series of exocrine glands on their abdomens. They use
                the wax to form the walls and caps of the comb. As with honey, beeswax is gathered by humans for various
                purposes such as candle making, waterproofing, soap and cosmetics manufacturing, pharmaceuticals, art,
                furniture polish and more.</p>
        </article>
        <article>
            <h3>Bee bread</h3>
            <p><img src="/images/freshpollen.jpg" alt="fresh pollen"> Bees collect pollen in their pollen baskets and
                carry it back to the hive. <br>
                Worker bees combine pollen, honey and glandular secretions and allow it to ferment in the comb to make
                bee bread. The fermentation process releases additional nutrients from the pollen and can produce
                antibiotics and fatty acids which inhibit spoilage. Bee bread is eaten by nurse bees (younger workers)
                which produce the protein-rich royal jelly needed by the queen and developing larvae in their
                hypopharyngeal glands. In the hive, pollen is used as a protein source necessary during brood-rearing.
                In certain environments, excess pollen can be collected from the hives of A. mellifera and A. cerana.
                The product is used as a health supplement. It has been used with moderate success as a source of pollen
                for hand pollination.</p>
        </article>
        <article>
            <h3>Bees as food</h3>
            <p>Bee brood – the eggs, larvae or pupae of honey bees – is nutritious and seen as a delicacy in countries
                such as Indonesia, Mexico, Thailand, and many African countries; it has been consumed since ancient
                times by the Chinese and Egyptians. <br>
                Adult wild honeybees are also consumed as a food in parts of China, including Yunnan. According to a
                worker at a Yunnan-based specialty restaurant, the bees are best served "deep-fried with salt and
                pepper", and they are "naturally sweet and tasty". Kellie Schmitt of CNN described the dish as one of
                "Shanghai's weirdest foods".</p>
        </article>
        <article>
            <h3>Propolis</h3>
            <p><img src="/images/propolis.jpg" alt="propolis">Propolis is a resinous mixture collected by honey bees
                from tree buds, sap flows or other botanical
                sources, which is used as a sealant for unwanted open spaces in the hive. Although propolis is alleged
                to have health benefits (tincture of Propolis is marketed as a cold and flu remedy), it may cause severe
                allergic reactions in some individuals. Propolis is also used in wood finishes, and gives a Stradivarius
                violin its unique red color.</p>
        </article>
        <article>
            <h3>Royal jelly</h3>
            <p><img src="/images/royaljelly.jpg" alt="royal jelly">Royal jelly is a honey bee secretion used to nourish
                the larvae. It is marketed for its alleged but unsupported claims of health benefits. On the other hand,
                it may cause severe allergic reactions in some individuals.</p>
        </article>
    </section>
    {% include "sidebar.njk" %}
</section>