---
layout: layout.njk
eleventyNavigation:
    key: Contact us
    order: 8
---

<section id="main">
    <h1>Get in touch</h1>
    <form class="form" action=”connect-to-database”>
        <label>Name:</label><br>
        <input type="text" name="name" placeholder="Ignas"><br>
        <label>Email:</label><br>
        <input type="text" name="email" placeholder="ignas@gmail.com"><br>
        <label>Message:</label><br>
        <textarea name="message" rows="8" cols="80" placeholder="Your message"></textarea><br>
        <input type="submit" value="Send">
    </form>
</section>