---
layout: layout.njk
eleventyNavigation:
    key: Home
    order: 1
---

<section id="maincontent">
    <section id="main">
        <article class="article">
            <h3>Honey</h3>
            <img src="/images/abouthoney.jpg" alt="honey">
            <p>Honey is a one-ingredient recipe made by bees, flowers and mother nature herself.</p>
            <a href="/about-honey">Learn about Honey</a>
        </article>
        <article class="article">
            <h3>Bee products</h3>
            <img src="/images/bee.jpg" alt="bee">
            <p>Bee Products include More than just Honey! How many can you think of?</p>
            <a href="/bee-products">Learn about bee products</a>
        </article>
        <article class="article">
            <h3>What is fake honey?</h3>
            <img src="/images/maplesyrup.jpg" alt="maple syrup">
            <p>Also referred to as impure, artificial or adulterated...</p>
            <a href="/production#adulteration">Learn about adulterated Honey</a>
        </article>
    </section>
    {% include "sidebar.njk" %}
</section>