---
layout: layout.njk
eleventyNavigation:
    key: Production
    order: 5
---

<section id="maincontent">
    <section id="main">
        <article>
            <h3>Collection</h3>
            <img class="img-span" src="/images/hives.png" alt="bee hives">
            <p>Honey is collected from wild bee colonies or from domesticated beehives. On average, a hive will produce
                about
                29 kilograms of honey per year. Wild bee nests are sometimes located by following a honeyguide bird.</p>
            <p>To safely collect honey from a hive, beekeepers typically pacify the bees using a bee smoker. The smoke
                triggers a feeding instinct (an attempt to save the resources of the hive from a possible fire), making
                them
                less aggressive, and obscures the pheromones the bees use to communicate. The honeycomb is removed from
                the hive
                and the honey may be extracted from it either by crushing or by using a honey extractor. The honey is
                then
                usually filtered to remove beeswax and other debris.</p>
            <p>Before the invention of removable frames, bee colonies were often sacrificed to conduct the harvest. The
                harvester would take all the available honey and replace the entire colony the next spring. Since the
                invention
                of removable frames, the principles of husbandry led most beekeepers to ensure that their bees have
                enough
                stores to survive the winter, either by leaving some honey in the beehive or by providing the colony
                with a
                honey substitute such as sugar water or crystalline sugar (often in the form of a "candyboard"). The
                amount of
                food necessary to survive the winter depends on the variety of bees and on the length and severity of
                local
                winters.</p>
            <p>Many animal species are attracted to wild or domestic sources of honey.</p>
            <h3>Harvesting hovey using modern Flow Hive</h3>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Z54bL6kjyOI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </article>
        <article>
            <h3>Preservation</h3>
            <img src="/images/honey.png" alt="jar of honey">
            <p>Because of its composition and chemical properties, honey is suitable for long-term storage, and is
                easily
                assimilated even after long preservation. Honey, and objects immersed in honey, have been preserved for
                centuries. The key to preservation is limiting access to humidity. In its cured state, honey has a
                sufficiently
                high sugar content to inhibit fermentation. If exposed to moist air, its hydrophilic properties pull
                moisture
                into the honey, eventually diluting it to the point that fermentation can begin.</p>
            <p>The long shelf life of honey is attributed to an enzyme found in the stomach of bees. The bees mix
                glucose
                oxidase with expelled nectar they previously consumed, creating two byproducts - gluconic acid and
                hydrogen
                peroxide, which are partially responsible for honey acidity and suppression of bacterial growth.</p>
        </article>
        <article>
            <h3 id="adulteration">Adulteration</h3>
            <p>Honey is sometimes adulterated by the addition of other sugars, syrups, or compounds to change its flavor
                or
                viscosity, reduce cost, or increase the fructose content to stave off crystallization. Adulteration of
                honey has
                been practiced since ancient times, when honey was sometimes blended with plant syrups such as maple,
                birch, or
                sorghum and sold to customers as pure honey. Sometimes crystallized honey was mixed with flour or other
                fillers,
                hiding the adulteration from buyers until the honey was liquefied. In modern times the most common
                adulterant
                became clear, almost-flavorless corn syrup; the adulterated mixture can be very difficult to distinguish
                from
                pure honey.</p>
        </article>
    </section>
    {% include "sidebar.njk" %}
</section>