<aside id="sidebar">
    <article>
        <h3>Search Our Site</h3>
        <form action="search.html">
            <input type="text" name="search" placeholder="Search">
            <input type="submit" value="Search">
        </form>
    </article>
</aside>